<section class="case_study_area">
  <div class="container">
    <div class="case_study_inner">
      <div class="case_study_details">
        <div class="case_study_img our_about_image">
          <img src="http://localhost:3000{{events?.eventImage}}" alt="">
          <div class="customer_status">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Organizer: </td>
                    <td> {{events?.publishedBy}}</td>
                  </tr>
                  <tr>
                    <td>Contact: </td>
                    <td>{{events?.contact}}</td>
                  </tr>
                  <tr>
                    <td>Date :</td>
                    <td>{{events?.date | date}}</td>
                  </tr>
                  <tr>
                    <td>Place : </td>
                    <td>{{events?.location}}</td>
                  </tr>
                  <tr>
                    <td>Tags :</td>
                    <td>{{events?.tags}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="our_about_left_content">
          <div class="section_title">
            <h2>Description of event</h2>
          </div>
          <h3>{{events?.eventName}} </h3>
          <p>{{events?.description }}</p>

        </div>
      </div>

    </div>
  </div>
  <div class="detailBox">
    <div class="titleBox">
      <label>Comments</label>
      <!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
    </div>
    <div class="commentBox">
      <p class="taskDescription custom-font">Add Your Enquiry Here</p>
    </div>
    <div class="actionBox">
      <ul class="commentList">
        <li *ngFor="let comment of events?.comments">
          <div class="commentText">
            <p class="">{{comment}}</p>
            <!-- <span class="date sub-text">on March 5th, 2014</span> -->
          </div>
        </li>
      </ul>
      <form #form="ngForm">
        <div class="form-group">
          <input class="form-control" type="text" name="comemnt" required placeholder="Your comments" ngModel #comment="ngModel">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="addComment(events._id,comment.value)">Add</button>
        </div>
      </form>
    </div>
  </div>
</section>