<header id="header">
  <div class="container">
    <div class="row">
      <!-- .logo -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 logo">
        <a href="index.html"><img src="../../../assets/img/logo.png" alt="Logo Image"></a>
      </div>
      <!-- /.logo -->
      <!-- .mainmenu-container -->
      <nav class="col-lg-9 col-md-9 col-sm-6 col-xs-6 mainmenu-container">
        <button class="nav-toggler">Navigation <i class="fa fa-bars"></i></button>		
        <ul class="mainmenu clearfix">
          <li class="nav-closer"><i class="fa fa-close"></i></li>
          <li class="current scrollToLink dropdown">
            <a href="index.html#banner">HOME</a>
            
          </li>
          <li class="deadlink">
            <a href="index.html#">Pages</a>
            
          </li>
          <li class="scrollToLink"><a href="index.html#upcoming-event">EVENT</a></li>			
          <li class="scrollToLink"><a href="index.html#event-speakers">SPEAKER</a></li>
          <li class="scrollToLink"><a href="index.html#pricing-table">Pricing</a></li>
          <li class="scrollToLink"><a href="index.html#gallery">GALLERY</a></li>
         
          <li class="scrollToLink"><a href="index.html#contact">CONTACT</a></li>
          
        </ul>
      </nav>
      <!-- /.mainmenu-container -->
    </div>
  </div>
</header>