.img-holder{
  height: 189 !important;
  width: 270 !important;
}
.bottomRight{
  position: absolute;
  bottom: 0;
  right: 20px;
  text-transform: uppercase;
  transition: all .3s ease;
  font-size: 12px;
  /* margin-right: 5px; */
  color: #374045;
  

}
p{
  color: black !important;
}

.section-title h1 {
  color: #374045;

  /* color:#F6F9F9; */
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 800;
  line-height: 30px;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}
.section-title h1:before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background: #00D8B7;
}
.section-title p {
  /* color: #929FA8; */
  /* color: #f8f1b0; */
 color:  #F6F9F9
}
.section-title.text-center h1:before {
  left: 48%;
}

#video-container{
  width: 100%;
  height: 500px;
 overflow: hidden;
 position: relative;
 left: 0;
 top: 0;
 z-index: -1000;
 }
 video{
   min-width: 100%;
   min-height: 500px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
 
 }
 .content{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   min-height: 500px;
   transform: translate(-50%,-50%);
   text-align: center;
   z-index: 1000;
   background-color: rgba(0, 0, 0, 0.3);
 
 }
 .content h1{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 300;
   font-size: 3em;
   margin: 10px 0;
   color: #fff;
   text-transform: uppercase;
   padding-top: 15%;
   margin-bottom: 10px;
 
 }
 .content p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.9em;
   margin: 10px 0;
   color: #aaa;
   letter-spacing: 3px;
   
 }




/** ====== Information Bar styles ====== **/





#information-bar {
    background: #F6F9F9;
    /* background: #2B2B2B; */
  }
  #information-bar .container {
    padding: 45px 0;
    background: #fff;
    margin-top: -80px;
    position: relative;
    z-index: 999;
  }
  #information-bar .col-lg-3 {
    border-right: 2px solid #F2F2F2;
  }
  #information-bar .col-lg-3:last-child {
    border: none;
  }
  #information-bar .col-lg-3 ul {
    text-align: center;
  }
  #information-bar .col-lg-3 ul li {
    display: inline;
  }
  #information-bar .col-lg-3 ul li span {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  #information-bar .col-lg-3 ul li span b {
    font-size: 20px;
    color: #374045;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  #information-bar .col-lg-3 ul li span.img-holder {
    text-align: center;
    padding: 0 12px;
  }
  #information-bar .col-lg-3 ul li span.img-holder img {
    display: block;
  
  }
  
  /** ====== Upcoming Event styles ====== **/







#upcoming-event {
    /* background:#2B2B2B; */
    /* background: #7D1935; */
    /* background: #45B6AF; */
    /* background: rgba(255,255,255,1); */
    /* background: #5BA4A4; */
    /* background: #333; */
    background: #F6F9F9;
    /* background: #bc4041; */
    padding: 80px 0;
  }
  #upcoming-event form {
    background: none;
    border: 1px solid #E1E1E1;
    height: 45px;
    padding-right: 20px;
    margin-top: 70px;
    transition: all .3s ease;
  }
  #upcoming-event form input {
    border: none;
    background: none;
    outline: none;
    color: #929FA8;
    
    height: 45px;
    line-height: 40px;
    padding-left: 20px;
  }
  
  #upcoming-event form input:focus + button {
    color: #FF8625;
    
  }

  #upcoming-event form:hover {
    border-color: #00D8B7;
  }
  #upcoming-event form:hover button {
    /* color: #FF8625; */
    color:#00D8B7;
  }
  #upcoming-event form button {
    background: none;
    border: none;
    outline: none;
    color: #CDCDCD;
    /* color: #f8f1b0; */
    transition: all .3s ease;
  }
   /* #upcoming-event .mix {
    display: none;
  } */
  #upcoming-event .tab-title-wrap {
    margin: 30px 0;
  } 
  #upcoming-event .tab-title-wrap ul li {
    float: left;
  }
  #upcoming-event .tab-title-wrap ul li.active span {
    background: #00D8B7;
    color: #fff;
  }
  #upcoming-event .tab-title-wrap ul li span {
    display: inline-block;
    color: #374045;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding: 15px 34.9px;
    text-transform: uppercase;
    border-left: 1px solid #E6EDEE;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s ease;
  }
  #upcoming-event .tab-title-wrap ul li span:hover {
    background: #00D8B7;
    color: #fff;
  }
  #upcoming-event .tab-content-wrap {
    margin: 0px -10px;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 {
    padding: 0 10px;
    margin-bottom: 25px;
  }
  #upcoming-event .tab-content-wrap .col-lg-3:hover .img-holder img {
    transform: scale(1.2);
  }
  #upcoming-event .tab-content-wrap .col-lg-3:hover .img-holder:before {
    bottom: 0;
  }
  #upcoming-event .tab-content-wrap .col-lg-3:hover .img-holder:after {
    bottom: 0;
  }
  #upcoming-event .tab-content-wrap .col-lg-3:hover .content-wrap {
    box-shadow: 0 0 0 1px #00D8B7;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .img-holder {
    overflow: hidden;
    position: relative;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .img-holder img {
    transition: all .3s ease;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .img-holder:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    opacity: .85;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .3s ease;
    background: #1eb089;
    background: -moz-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1eb089), color-stop(100%, #7c49ab), color-stop(100%, #7db9e8));
    background: -webkit-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -o-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: -ms-linear-gradient(left, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    background: linear-gradient(to right, #1eb089 0%, #7c49ab 100%, #7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eb089', endColorstr='#7db9e8', GradientType=1);
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .img-holder:after {
    content: ' ';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background: transparent url(../img/gallery/overlay-bg.png) center center no-repeat; */
    transition: all .3s ease .1s;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap {
    background: #fff;
    padding: 0 30px 30px;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap .author-img {
    margin-top: 0px;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
 
   
    
    
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap .meta {
    margin-bottom: 25px;
    margin-top: 15px;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap .meta ul {
    text-align: left;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap .meta ul li {
    display: inline;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap .meta ul li span {
    display: inline-block;
    color: #929FA8;
    margin-right: 10px;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap .meta ul li span .fa {
    color: #00D8B7;
    margin-right: 5px;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap h3 {
    font-size: 18px;
    color: #374045;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
  }

  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap p {
    color: #929fa8;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap a.read-more {
    font-size: 12px;
    color: #00D8B7;
    text-transform: uppercase;
    transition: all .3s ease;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap a.read-more .fa {
    margin-left: 5px;
  }
  #upcoming-event .tab-content-wrap .col-lg-3 .content-wrap a.read-more:hover {
    color: #FF8625;
  
  }