<form #form="ngForm">
    <div class="form-group" [class.has-error]="reciever.invalid && reciever.touched">
        <label class="control-label">
            <h3>To</h3>
        </label>
        <input type="text" name="reciever" required class="form-control" [(ngModel)]="recipient" #reciever="ngModel">
    </div>
    <div class="form-group" [class.has-error]="subject.invalid && subject.touched">
        <label class="control-label">
            <h3>Subject</h3>
        </label>
        <input type="text" name="subject" required class="form-control" [(ngModel)]="data" #subject="ngModel">
    </div>
    <div class="form-group" [class.has-error]="description.invalid && description.touched">
        <label class="control-label">
            <h3>Content</h3>
        </label>
        <ckeditor debounce="500" name="description" ngModel #description="ngModel"></ckeditor>
    </div>
    <button md-raise-button  class="btn btn-primary" (click)="sendMail(form)">Send</button>
    </form>