<div class="inputwithicon col-sm-9">
        <input type="text" placeholder="Your Name">
        <i class="fa fa-user fa-lg fa-fw " aria-hidden="true"></i>
</div>
<div class="inputwithicon col-sm-9">
        <input type="text" placeholder="Email">
        <i class="fa fa-envelope fa-lg fa-fw " aria-hidden="true"></i>
</div>
<div class="inputwithicon col-sm-9">
        <input type="text" placeholder="Phone Number">
        <i class="fa fa-phone fa-lg fa-fw " aria-hidden="true"></i>
</div>

<div class="inputwithico col-sm-9">
        <textarea class="form-control" placeholder="Description" rows="5"></textarea>
        <i class="fa fa-comment fa-lg fa-fw " aria-hidden="true"></i>
</div>
<button type="button" class="btn btn-primary btn-lg">Submit</button>