
<div class="container">
        <div class="container-line">
                <h1 style="border-bottom:1px black solid; margin-left:10px;">Submit Your Query</h1>
                </div>
                <br>
                <br>
        <div class="inputwithicon col-sm-9">
                <input type="text" placeholder="Your Name"  #name>
                <i class="fa fa-user fa-lg fa-fw " aria-hidden="true"></i>
        </div>
        <div class="inputwithicon col-sm-9">
                <input type="text" placeholder="Email"  #email>
                <i class="fa fa-envelope fa-lg fa-fw " aria-hidden="true"></i>
        </div>
        <div class="inputwithicon col-sm-9">
                <input type="text" placeholder="Subject" #subject>
                <i class="fa fa-sticky-note fa-lg fa-fw " aria-hidden="true" ></i>
        </div>

        <div class="inputwithico col-sm-9">
                <textarea  placeholder="Description" rows="5" #description></textarea>
                <i class="fa fa-comment fa-lg fa-fw " aria-hidden="true"></i>
        </div>
        <button type="button"  class="pull-left" mat-raised-button color="accent" (click)="submitquery(name,email,subject,description)">Submit</button>
</div>